.categories{
    position: absolute;
    top: 440px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    .categories_block{
        position: absolute;
        width: 100%;
        height: 200vh;
        z-index: 3;
        background-color: rgba(0,0,0,0.5);
        display: none;
    }
    .categories_open{
        width: 90%;
        height: 50px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        background: linear-gradient(to bottom, #dd767a 0%, #d76267 50%, #d03635 50%, #c52928 100%);
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    .categories_container{
        display: flex;
        background-color: #ffeeb7;
        height: 450px;
        width: 90%;
        position: absolute;
        z-index: 5;
        justify-content: center;
        align-items: center;
        .categories_close{
            position: absolute;
            z-index:5;
            width: 25px;
            height: 25px;
            top: 0;
            right: 0;
            background-color: #ffeeb7;
            border: none;
            cursor: pointer;
            &:after,&:before{
                content: '';
                width: 20px;
                right: 1px;
                position: absolute;
                height: 2px;
                background-color: rgb(255, 0, 0);
            }
            &:after{
                transform: rotate(-45deg);
            }
            &:before{
                transform: rotate(45deg);
            }
        }
        .categories_list{
            li{
                width: 100%;
                height: 29px;
                margin: 10px 0;
                a{
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 18px;
                    color: #434343;
                    &:hover{
                        color: #b20e00;
                    }
                }
                &:after{
                    content: '';
                    width: 94%;
                    margin-top: 10px;
                    height: 1px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    left: 10px;
                    right: 10px;
                    position: absolute;
                }
                &:last-child::after{
                    display: none;
                }
            }
        }
        display: none;
    }
}