.featured_products{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    height: 255px;
    // border: 1px solid black;
    h2{
        text-transform: uppercase;
        color: #292929;
        text-align: center;
        margin-top: 120px;
    }
    .wrap_featured_products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        button{
            // height: 36px;
            // width: 36px;
            height: 26px;
            width: 26px;
            border: none;
            cursor: pointer;
            background: linear-gradient(135deg, rgba(135,136,135,1) 0%,rgba(195,195,195,1) 100%);
            position: relative;
            z-index: 1;
            &::-moz-focus-inner{
                border: 0 !important;
            }
        }
        .left_btn{
            border-radius: 3px 3px 3px 0;
            left: 19px;
            span{
                position: relative;
                display: flex;
                justify-content: center;
                left: 7px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 9px 8px 0;
                border-color: transparent #151515 transparent transparent;
            }
            &:after{
                content: '';
                width: 0;
                top: 26px;
                position: absolute;
                height: 0;
                left: 0;
                // z-index: -1;
                border-style: solid;
                border-width: 0 8px 8px 0;
                border-color: transparent #151515 transparent transparent;
            }
        }
        .right_btn{
            border-radius: 3px 3px 0 3px;
            right: 19px;
            span{
                position: relative;
                display: flex;
                justify-content: center;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8.5px 0 8.5px 9px;
                border-color: transparent transparent transparent #151515;
                left: 9px;
            }
            &:after{
                content: '';
                position: absolute;
                right: 0;
                top: 26px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 8px 0 0;
                border-color: #151515 transparent transparent transparent;

            }
        }
        .featured_products_row{
            position: relative;
            display: flex;
            justify-content: center;
            padding: 0 20px;
            height: 200px;
            z-index: 0;
            width: 80%;
            border-radius: 5px;
            border: 1px solid #c0c0c0;
            box-shadow: 0 0 10px #c0c0c0,inset 0px -150px 100px -167px #c0c0c0;
            z-index: 0;
                .item1{
                    display: flex;
                    // display: none;
                    margin-top: 25px;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    span{
                        width: 150px;
                    }
                    .featured_products_icon1{
                        width: 145px;
                        height: 100px;
                        background-image: url('../img/featured_products_icon1.png');
                    }
                }
                .item2{
                    // display: flex;
                    display: none;
                    margin-top: 25px;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    span{
                        width: 150px;
                    }
                    .featured_products_icon2{
                        width: 145px;
                        height: 100px;
                        background-image: url('../img/featured_products_icon2.png');
                    }
                }
                .item3{
                    // display: flex;
                    display: none;
                    margin-top: 25px;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    span{
                        width: 150px;
                    }
                    .featured_products_icon3{
                        width: 145px;
                        height: 100px;
                        background-image: url('../img/featured_products_icon3.png');
                    }
                }
        }
    }
}
/*featured products media*/
@media screen and (min-width: 500px) {
    .featured_products{
        .wrap_featured_products{
            .featured_products_row{
                .item2{
                    display: flex;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}
@media screen and (min-width: 950px) {
    .featured_products{
        top: -87px;
        left: 258px;
        // width: 706px;
        width: 670px;
        position: relative;
        h2{
            text-align: left;
        }
        .wrap_featured_products{
            position: relative;
            right: 35px;
            width: 695px;
            .featured_products_row{
                // position: absolute;
                // width: 650px;
                width: 625px;
                .item2{
                    margin-left: 25px;
                    margin-right: 25px;
                }
                .item3{
                    display: flex;
                }
            }
        }
    }
}