.footer {
  background: linear-gradient(to bottom, #a81704 0%, #a81704 50%, #631409 100%);
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer .company {
  width: 100%;
  text-align: center;
  position: relative;
}
.footer .company:after {
  content: "";
  position: relative;
  top: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}
.footer .company p {
  position: relative;
  top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.footer .company .company_list {
  display: none;
}
.footer .company .company_list li {
  position: relative;
  top: 10px;
  margin: 5px;
}
.footer .company .company_list li a {
  color: #cfcfcf;
}
.footer .company .active_list {
  display: block;
  position: relative;
}
.footer .footer_categories {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}
.footer .footer_categories:after {
  content: "";
  position: relative;
  top: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}
.footer .footer_categories p {
  position: relative;
  top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.footer .footer_categories .footer_categories_list {
  display: none;
}
.footer .footer_categories .footer_categories_list li {
  position: relative;
  top: 10px;
  margin: 5px;
}
.footer .footer_categories .footer_categories_list li a {
  color: #cfcfcf;
}
.footer .footer_categories .active_list {
  display: block;
  position: relative;
}
.footer .information {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}
.footer .information:after {
  content: "";
  position: relative;
  top: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}
.footer .information p {
  position: relative;
  top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.footer .information .information_list {
  display: none;
}
.footer .information .information_list li {
  position: relative;
  top: 10px;
  margin: 5px;
}
.footer .information .information_list li a {
  color: #cfcfcf;
}
.footer .information .active_list {
  display: block;
  position: relative;
}
.footer .footer_social_network {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}
.footer .footer_social_network:after {
  content: "";
  position: relative;
  top: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}
.footer .footer_social_network p {
  position: relative;
  top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.footer .footer_social_network .social_network_list {
  display: none;
}
.footer .footer_social_network .social_network_list li {
  position: relative;
  top: 10px;
  margin: 5px;
}
.footer .footer_social_network .social_network_list li a {
  color: #cfcfcf;
}
.footer .footer_social_network .active_list {
  display: block;
  position: relative;
}
.footer .contact_us {
  margin-top: 10px;
  position: relative;
  width: 100%;
}
.footer .contact_us p {
  color: #fff;
  position: relative;
}
.footer .contact_us .container_contact_us {
  display: flex;
  justify-content: space-around;
}
.footer .contact_us .container_contact_us .contact_us_list {
  width: 50%;
  color: #cfcfcf;
  margin: 5px;
}
.footer .contact_us .container_contact_us .contact_us_list p {
  font-weight: bold;
  font-size: 15px;
}
.footer .contact_us .container_contact_us .contact_us_list li span {
  color: #ffcc00;
}
.footer .contact_us .container_contact_us .contact_us_schedule {
  font-size: 14px;
  color: #fff;
  width: 40%;
}

@media screen and (min-width: 950px) {
  .footer {
    display: flex;
    justify-content: center;
    height: 300px;
  }
  .footer .footer_container {
    display: flex;
    justify-content: space-between;
    width: 945px;
    position: relative;
    margin-top: 40px;
  }
  .footer .footer_container .company {
    margin: 0 78px 0 23px;
    width: 80px;
    height: 150px;
    text-align: left;
    position: relative;
  }
  .footer .footer_container .company:after {
    display: none;
  }
  .footer .footer_container .company .company_list {
    width: 80px;
    display: block;
    text-align: left;
  }
  .footer .footer_container .company .company_list li a {
    font-size: 13px;
  }
  .footer .footer_container .company .company_list li:first-child {
    margin-top: 30px;
  }
  .footer .footer_container .company p {
    margin-left: 5px;
    font-size: 15px;
  }
  .footer .footer_container .footer_categories {
    width: 138px;
    height: 150px;
    text-align: left;
    position: relative;
    margin: 0 80px 0 0;
  }
  .footer .footer_container .footer_categories:after {
    display: none;
  }
  .footer .footer_container .footer_categories .footer_categories_list {
    display: block;
    position: relative;
    width: 138px;
  }
  .footer .footer_container .footer_categories .footer_categories_list li a {
    font-size: 13px;
  }
  .footer .footer_container .footer_categories .footer_categories_list li:first-child {
    margin-top: 30px;
  }
  .footer .footer_container .footer_categories p {
    margin-left: 5px;
    font-size: 15px;
  }
  .footer .footer_container .information {
    position: relative;
    width: 115px;
    height: 150px;
    margin: 0 75px 0 0;
    text-align: left;
  }
  .footer .footer_container .information:after {
    display: none;
  }
  .footer .footer_container .information .information_list {
    display: block;
    position: relative;
    width: 115px;
  }
  .footer .footer_container .information .information_list li a {
    font-size: 13px;
  }
  .footer .footer_container .information .information_list li:first-child {
    margin-top: 30px;
  }
  .footer .footer_container .information p {
    margin-left: 5px;
    font-size: 15px;
  }
  .footer .footer_container .footer_social_network {
    width: 115px;
    position: relative;
    height: 150px;
    text-align: left;
    margin: 0 80px 0 0;
  }
  .footer .footer_container .footer_social_network:after {
    display: none;
  }
  .footer .footer_container .footer_social_network .social_network_list {
    display: block;
    position: relative;
    width: 115px;
  }
  .footer .footer_container .footer_social_network .social_network_list li a {
    font-size: 13px;
  }
  .footer .footer_container .footer_social_network .social_network_list li:first-child {
    margin-top: 30px;
  }
  .footer .footer_container .footer_social_network p {
    margin-left: 5px;
    font-size: 15px;
  }
  .footer .footer_container .contact_us {
    position: relative;
    width: 150px;
    margin: 0 10px 0 0;
    padding: -10px;
  }
  .footer .footer_container .contact_us .container_contact_us {
    width: 190px;
  }
  .footer .footer_container .contact_us .container_contact_us .contact_us_list {
    width: 150px;
  }
  .footer .footer_container .contact_us .container_contact_us .contact_us_list li {
    font-size: 13px;
  }
  .footer .footer_container .contact_us .container_contact_us .contact_us_list li:nth-child(2) {
    margin-top: 30px;
  }
  .footer .footer_container .contact_us .container_contact_us .contact_us_schedule {
    position: absolute;
    top: 145px;
    right: -30px;
    font-size: 13px;
    width: 160px;
  }
}