.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #dd767a 0%, #d76267 50%, #d03635 50%, #c52928 100%);
}
.header .header_container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.header .header_container .header_icon_bag {
  width: 70px;
  height: 70px;
  background-image: url("/img/header_bag.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header .header_container .header_basket {
  color: #fff;
  font-size: 14px;
  width: 160px;
  margin-top: 13px;
  text-align: center;
}
.header .header_container .header_basket .header_basket_row {
  line-height: 0.8;
  font-size: 15px;
}
.header .header_container .header_basket .header_basket_row .header_text {
  margin: 0 5px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header .header_container .header_basket .header_btn {
  margin-top: 10px;
  text-align: center;
  background-color: #b20e00;
  border-radius: 20px;
  width: 110px;
  height: 25px;
  color: #ffc200;
}
.header .header_container h1 {
  position: relative;
  left: 0;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  color: #fbfbfb;
  font-size: 26px;
  font-family: "Bebas Neue Regular";
}
.header .header_container .header_block_search {
  position: absolute;
  display: flex;
  top: 108px;
  right: 10px;
}
.header .header_container .header_block_search input {
  width: 200px;
  height: 30px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 0 0 1px 20px;
  background: linear-gradient(to bottom, #d2d0c8 0%, #ecebe8 50%, #ffffff 50%, #ffffff 100%);
}
.header .header_container .header_block_search button {
  width: 40px;
  height: 30px;
  margin-left: -1px;
  font-size: 20px;
  font-family: "Bebas Neue Bold";
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, #b06a6a 0%, #923c3c 50%, #791515 50%, #871a1a 100%);
}
.header .header_container .header_block_search button span {
  background: linear-gradient(to bottom, #fffffd 0%, #f2dd46 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}